<h1>FoodItem</h1>

<p>Food: <%= @model.name %></p> 
<p>Calories: <%= @model.try(:calories) %></p>
<span>Date Eaten:</span>
<% date = @model.try(:date) %>
<% if date.present? %>
 <p class="food-date"><%= date.strftime("%m/%d/%Y") %></p>
 <% else %>
<%= render "date_form" %>
<%end%>